[submodule "external/libini"]
	path = external/libini
	url = https://github.com/pcercuei/libini.git
[submodule "external/libev"]
	path = external/libev
	url = https://github.com/enki/libev.git
[submodule "external/sds"]
	path = external/sds
	url = https://github.com/antirez/sds.git
